form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px auto;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #161516;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #e9edef;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#error-message {
    color: red;
}

#success-message {
    color: green;
}


